# STM32 Minimum Development Board Configuration

# Copyright (c) 2017, embedjournal.com
# SPDX-License-Identifier: Apache-2.0

if BOARD_STM32_MIN_DEV_BLUE

config BOARD
	default "stm32_min_dev_robo" 

if UART_CONSOLE

config UART_1
	default y

endif # UART_CONSOLE

if I2C
config I2C_1
	default y

config I2C_2
	default y

endif # I2C

if SPI

config SPI_1
	default y

config SPI_2
	default y

endif # SPI


# SUPA DEFAULTS
config HAS_STM32CUBE
    default y

config USE_STM32_HAL_TIM
    default y
    
config USE_STM32_HAL_TIM_EX
    default y

    

endif # BOARD_STM32_MIN_DEV_BLUE || BOARD_STM32_MIN_DEV_BLACK
