/*
 * Copyright (c) 2017, embedjournal.com
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include "stm32_min_dev.dtsi"

/ {
	model = "STM32 Minimum Development Board (Blue)";
	compatible = "st,stm32_min_dev_blue", "st,stm32f103c8";

	leds {
	    compatible = "gpio-leds";
		led_red {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "led_red";
		};
		led_green  {
			gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
			label = "led_green";
		};		
	};
	
	buttons {
		compatible = "gpio-keys";
		button_sw0 {
			label = "button sw0";
			gpios = <&gpioa 1 GPIO_INT_ACTIVE_HIGH >;
		};
		button_sw1 {
			label = "button sw1";
			gpios = <&gpioa 2 GPIO_INT_ACTIVE_HIGH >;
		};
        };
    

	ir_receiver_input
	{
		compatible = "gpio-keys";
		ir_input: ir_input {
			label = "ir input";
			gpios = <&gpiob 3 GPIO_INT_ACTIVE_HIGH >;
		};
	};
	
	motor_control
	{
	   compatible = "gpio-leds";
	   motor_1a {
			gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
			label = "motor 1a";
	   };
	   motor_1b {
			gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
			label = "motor 1b";
	   };
	   motor_2a {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "motor 2a";
	   };
	   motor_2b {
			gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
			label = "motor 2b";
	   };
	   motor_fun: motor_fun {
			gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;
			label = "motor function";
	   };
	};
	
	motor_bumbers
	{
		compatible = "gpio-keys";
		bumber_left: bumber_left {
			label = "bumber left";
			gpios = <&gpioa 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		bumber_right: bumber_right {
			label = "bumber right";
			gpios = <&gpioa 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};
	
	cap-gpio-out {
			compatible = "gpio-leds";
			cap-out {
					gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
					label = "cap-output";
			};
	};
	cap-gpio-in
	{
		compatible =  "gpio-keys";
		cap-in {
			gpios = <&gpiob 10 GPIO_ACTIVE_HIGH >;
			label = "cap-input";
		};
}; 
		

};

&adc1 {
	status = "okay";

	adc_map: adcmap {
	    compatible="adc-map";
	    io-channels = <&adc1 3>, <&adc1 4>; 
	    io-channel-names = "BVOLT", "BMOTOR_CURR";
	};

};


&usart1 {
	parity = <2>;
};

&i2c1 {
        mpu6050@68 {
                compatible = "invensense,mpu6050";
                reg = <0x68>;
                status = "okay";
                label = "MPU6050";
                int-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
        };
};


&flash0 {
        /*
         * For more information, see:
         * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
         */
        partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;

                /* Set 6Kb of storage at the end of the 64Kb of flash */
                storage_partition: partition@e800 {
                        label = "storage";
                        reg = <0x0000e800 0x00001800>;
                };
        };
};

